<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Registrar Producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>
    <ion-input label="Nombre" label-placement="floating" placeholder="ingrese el nombre" #name [(ngModel)]="product.name"></ion-input>
  </ion-item>
  <br>
  <ion-item>
    <ion-textarea label="descripcion" label-placement="floating"  placeholder="ingrese la descripcion" #description [(ngModel)]="product.description"></ion-textarea>
   
  </ion-item>
  <ion-item>
    <ion-input type="number" required="true" label="Precio" label-placement="floating" placeholder="ingrese el precio" #price [(ngModel)]="product.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input type="number" required="true" label="Stock" label-placement="floating" placeholder="ingrese el stock" #stock [(ngModel)]="product.stock"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="formSumbit()">Guardar</ion-button>
  <ion-toast
    [isOpen]="isToastOpen"
    message="Datos incorrectos!"
    [duration]="5000"
    (didDismiss)="setOpen(false)"
  ></ion-toast>
</ion-content>