<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Productos</ion-title>
    <ion-buttons slot="end">
      <ion-button expand="block" (click)="openModal()">Nuevo</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngFor="let product of products">
    <ion-item-sliding>
      <ion-item>
        <ion-label>{{product.name}}</ion-label>
        <ion-label>{{product.stock}}</ion-label>
        <ion-label>$ {{product.price}}</ion-label>
      </ion-item>
    
      <ion-item-options side="end">
        <ion-buttons slot="end">
          <ion-button *ngIf="product.id" expand="block" color="primary" (click)="openUpdateModal(product.id)">Editar</ion-button>
        </ion-buttons>
        
        <ion-buttons slot="end">
          <ion-button *ngIf="product.id" color="danger"  (click)="deleteProduct(product.id)">Eliminar</ion-button>
        </ion-buttons>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-alert
          [isOpen]="isAlertOpen"
          header="Quieres eliminar ?"
          [buttons]="alertButtons"
          (didDismiss)="setOpen(false)"
></ion-alert>
</ion-content>
